@model BHelp.ViewModels.DeliveryViewModel
@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdviseDeliveryCreated</title>
</head>
<body>

    Delivery to:
    @Html.DisplayFor(model => model.FullName) &nbsp;
    @Html.DisplayFor(model => model.StreetNumber)
    @Html.DisplayFor(model => model.StreetName) &nbsp;
    <strong>Created!</strong>
    <br />
    The delivery is now listed in <strong>Open Deliveries</strong>.
    <span style="color: darkmagenta"> (where you add OD notes & assign driver)</span><br />
    <br />
    <br />
    <div>
        @Html.ActionLink("Back to Select Page", "Index")
        <div>
        </div>
    </div>
</body>
</html>