@model BHelp.ViewModels.DeliveryViewModel
@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConfirmCreateDelivery</title>
</head>
<body>
<div>
    Delivery to:
    @Html.DisplayFor(model => model.FullName) &nbsp;
    @Html.DisplayFor(model => model.StreetNumber)
    @Html.DisplayFor(model => model.StreetName) &nbsp;
    <strong>Created!</strong>
    <br />
    The delivery is now listed in <strong>Open Deliveries</strong>.
    <br />
    <input type="submit" value="Add Member" class="btn btn-default" id="AddButton" />
</div>
</body>
</html>
