@using System.Web.Mvc.Html
@model BHelp.ViewModels.VoicemailPasswordViewModel
@{ Layout = null; }
<!DOCTYPE html>

<style>
    #SaveButton {background-color: blue;color: white}
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Voicemail Password</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <link rel="icon" href="~/images/bhlogo.ico" type="image/x-icon" />
</head>
<body>
    @using (Html.BeginForm("ResetVoicemailPassword", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        for(int i = 0; i < Model.InfoText.Length; i++)
        { @Html.HiddenFor(model => Model.InfoText[i]) }
    <div>
        <b>Reset Voicemail Password</b>&nbsp;
        <span style="color: darkmagenta"> (This resets the locally displayed password only, NOT the Outlook password on GoDaddy)</span>
        <table>
            <tr><td>Old password: &nbsp;@Model.VoicemailPassword</td></tr>
            <tr>
                <td>
                    New password: &nbsp;@Html.TextBoxFor(p => p.VoicemailPassword,
    new { Value = "" })
                    @Html.ValidationMessageFor(m => m.VoicemailPassword,
                        "", new { @class = "text-danger" })
                </td>
            </tr>
        </table>
    </div>
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" id="SaveButton" />
        </div>
        <div>
            @Html.ActionLink("Return to Dashboard", "Index", "Home", new { }, null)
        </div>
    }
</body>
</html>
