@model BHelp.ViewModels.DriverEmailViewModel
@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DriverEmailDisplay</title>
</head>
<body>
<div>
    @Html.Raw(Model.EmailText)
</div>

<div>
    <span style="color: red"><strong>@Html.Label(Model.MonthYear)</strong></span>
    @Html.Raw(Model.HtmlContent)
</div>

<div>
    <br/>
    @Html.ActionLink("Return to Dashboard", "Index", "Home", new { }, null)
</div>
</body>
</html>
