@model BHelp.Models.Document
@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewDocument</title>
</head>
<body>
    <div>@Html.Raw(Model.Title)</div>
</body>
</html>
