@using System.Web.Mvc.Html
@model BHelp.ViewModels.HouseholdViewModel
@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConfirmChangesSaved</title>
</head>
<body>
    <div>
        <strong>Changes to Household Saved!</strong>
    </div>
<div>
    @Html.ActionLink("Back to Household Page", "UpdateHousehold", "OD", new {Id = Model.ClientId}, null)
</div>
<div>
    @Html.ActionLink("Return to Dashboard", "ReturnToDashboard", new { })
</div>
</body>
</html>