@using System.Web.Mvc.Html
@model BHelp.ViewModels.ODScheduleViewModel
@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Individual OD Schedule Signup</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
