@model BHelp.ViewModels.GroupMemberViewModel
@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddGroupMember</title>
    <link rel="icon" href="~/images/bhlogo.ico" type="image/x-icon" />
</head>
<body>
@using (Html.BeginForm("AddGroupMember","GroupMembers",
    FormMethod.Post, new { id = "ThisForm" }))
{
    <div>
        @Html.DropDownList("AllClients",Model.AllClients,
            "-Select Client to Add to Group-",
            new{onchange = "document.getElementById('ThisForm').submit();", size=10})
    </div>
}
</body>
</html>
