@using FormMethod = System.Web.Mvc.FormMethod
@model BHelp.ViewModels.GroupMemberViewModel
@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="@Url.Content("/Scripts/BHelpFunctions.js")"></script>
</head>
<body>
    <span><b>Maintain Client Group Members</b></span>
    <br/>
    @using (Html.BeginForm("Index", "GroupMembers", FormMethod.Post))
    {
    <div>
        @Html.DropDownList("selectGroupDDL", Model.GroupNameSelectList,
            "-Select Group-")
     </div>
    }
    <br/>
    <div>
        @Html.ActionLink("Return to Dashboard", "Index", "Home", new { }, null)   
    </div>
</body>
</html>

<script type="text/javascript">
    $(function () {
        window.$('#selectGroupDDL').change(function () {
            var _gpId = window.$(this).val();
            window.location.href = '@Url.Action("MaintainGroupMembers",
                                        "GroupMembers")' + '?groupId=' + _gpId;
        });
    });
</script>
