@model BHelp.Models.GroupMember
@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @*Put page javascript in a separate .js file where breaks can be set during debugging:*@
    <script src="@Url.Content("/Scripts/BHelpFunctions.js")"></script>
</head>
<body>
<div>
    <table>
        <tr>
            <td><b>Group Members</b></td>
        </tr>
    </table>
</div>
<div id ="SelectGroup">
    <table class="table">
        <tr>
            <td>
                @Html.DropDownList("select_group",Model.GroupNameSelectList, "-Select Group-")
            </td>
        </tr>
    </table>
</div>
<div id="MembersDiv" style="display: none">
    <table>
        <tr>
            <td>@Html.Label("Hello")</td>
        </tr>
    </table>
</div>

<script type="text/javascript">
    $("#select_group").change(GetGroupMembers);
</script>
</body>
</html>
