@model BHelp.ViewModels.GroupMemberViewModel
@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Maintain Group Members</title>
</head>
<body>
    <b>@Html.Label("Maintain Group Members")</b>
<div>

</div>
<br/>
<div>
    @Html.ActionLink("Return To Dashboard", "ReturnToDashboard")
</div>
</body>
</html>
