@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeleteDenied</title>
</head>
<body>
<div>
    <span><b>Cannot delete this user because they are associated with one or more deliveries,</b></span>
    <br />
    <span><b>one or more schedules, or have one or more Roles.</b></span>
    <br />
    <span><b>Remove the association(s) and try again.</b></span>
</div>
<div>
    <br/>
    @Html.ActionLink("Back to List", "Index")
    <br/>
    @Html.ActionLink("Return to Dashboard", "Index", "Home", new { }, null)
</div>
</body>
</html>
