
@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeleteDenied</title>
</head>
<body>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
