@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateSuccess</title>
</head>
<body>
<div>
    Hours record successfully submitted!
    @Html.ActionLink("Back to Hours Menu", "Index")
</div>
</body>
</html>
