@model IEnumerable<BHelp.Models.VolunteerHours>
@{ Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<table>
    <tr><td><b>Volunteer Hours</b></td></tr>
    <tr></tr>
    <tr><td><a href="@Url.Action("Create", "VolunteerHours")">Enter Volunteer Hours</a><br /></td></tr>
    <tr><td><a href="@Url.Action("QuorkReport", "Deliveries")">Maintain Volunteer Hours</a><br /></td></tr>
</table>
<br/>
<div>
    @Html.ActionLink("Return to Dashboard", "ReturnToDashboard", new { })
</div>
</body>
</html>
